[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getVisibleJiraProjects"
modes = [ "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getJiraIssue"
modes = [ "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_searchConfluenceUsingCql"
modes = [ "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getConfluencePage"
modes = [ "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getConfluencePageDescendants"
modes = [ "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getJiraIssueTypeMetaWithFields"
modes = [ "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getJiraProjectIssueTypesMetadata"
modes = [ "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getConfluenceSpaces"
modes = [ "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getPagesInConfluenceSpace"
modes = [ "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getAccessibleAtlassianResources"
modes = [ "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_search"
modes = [ "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_searchJiraIssuesUsingJql"
modes = [ "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_createJiraIssue"
modes = [ "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_addCommentToJiraIssue"
modes = [ "default", "autoEdit", "yolo" ]
