[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getVisibleJiraProjects"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getJiraIssue"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_searchConfluenceUsingCql"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getConfluencePage"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getConfluencePageDescendants"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getJiraIssueTypeMetaWithFields"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getJiraProjectIssueTypesMetadata"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getConfluenceSpaces"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getPagesInConfluenceSpace"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_getAccessibleAtlassianResources"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_search"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_searchJiraIssuesUsingJql"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_createJiraIssue"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_addCommentToJiraIssue"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_createIssueLink"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_updateConfluencePage"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_editJiraIssue"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
mcpName = "atlassian"
toolName = "mcp_atlassian_createConfluencePage"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
toolName = "atlassianUserInfo"
mcpName = "atlassian"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
toolName = "getTransitionsForJiraIssue"
mcpName = "atlassian"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
toolName = "transitionJiraIssue"
mcpName = "atlassian"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
toolName = "lookupJiraAccountId"
mcpName = "atlassian"
modes = [ "plan", "default", "autoEdit", "yolo" ]

[[rule]]
decision = "allow"
priority = 950
toolName = "getJiraProjectIssueTypesMetadata"
mcpName = "atlassian"
modes = [ "plan", "default", "autoEdit", "yolo" ]
