# {{ ansible_managed }}
PORT="{{ fastmail_mcp_port }}"
FASTMAIL_API_TOKEN="{{ openclaw_fastmail_token }}"
FASTMAIL_BASE_URL="https://api.fastmail.com"
FASTMAIL_DOWNLOAD_DIR="{{ fastmail_mcp_home }}/downloads"
