[Unit]
Description=Dropbox daemon for Farzy
After=network.target

[Service]
Type=simple
ExecStart=/home/farzy/.dropbox-dist/dropboxd
Restart=on-failure
User=farzy

[Install]
WantedBy=multi-user.target
