global:
  domain: fargo.farzad.tech

crds:
  install: true
  keep: true

configs:
  params:
    server.insecure: true
  cm:
    exec.enabled: true
  rbac:
    create: true
    policy.default: role:readonly
    policy.csv: |-
      p, role:create-cluster, clusters, create, *, allow
      p, role:executor, exec, create, default/*, allow
      p, role:special-project, applications, *, special-project/*, allow
      g, farzad, role:create-cluster
      g, farzad, role:executor
      g, farzad, role:special-project
  secret:
    githubSecret: "{{ githubSecret }}"

server:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    extraTls:
      - hosts:
        - fargo.farzad.tech
        secretName: argocd-server-tls

  ingressGrpc:
      enabled: true
      hostname: fargo-grpc.farzad.tech
      ingressClassName: nginx
      annotations:
        nginx.ingress.kubernetes.io/backend-protocol: "GRPC"
      extraTls:
        - hosts:
          - fargo-grpc.farzad.tech
          secretName: argocd-server-grpc-tls
