[Unit]
Description=OpenClaw Service
After=network.target

[Service]
Type=simple
User={{ openclaw_setup_user }}
Group={{ openclaw_setup_group }}
WorkingDirectory={{ openclaw_setup_home }}
Environment=PORT={{ openclaw_setup_port }}
Environment=NODE_COMPILE_CACHE=/var/tmp/openclaw-compile-cache
Environment=OPENCLAW_NO_RESPAWN=1
Environment=GEMINI_API_KEY={{ openclaw_gemini_api_key }}

ExecStart=/usr/bin/env openclaw gateway --port {{ openclaw_setup_port }}
Restart=always

RestartSec=10

[Install]
WantedBy=multi-user.target
