# {{ ansible_managed }}
PORT={{ openclaw_setup_port }}
NODE_COMPILE_CACHE=/var/tmp/openclaw-compile-cache
OPENCLAW_NO_RESPAWN=1
GEMINI_API_KEY={{ openclaw_gemini_api_key }}
{% if openclaw_github_pat is defined and openclaw_github_pat | length > 0 %}
GITHUB_TOKEN={{ openclaw_github_pat }}
GH_TOKEN={{ openclaw_github_pat }}
{% endif %}
ANSIBLE_VAULT_PASSWORD="{{ lookup('file', '~/.ansible-personal-key') | trim }}"
{% if openclaw_notion_api_token is defined %}
NOTION_API_TOKEN={{ openclaw_notion_api_token }}
NOTION_API_VERSION=2026-03-11
{% endif %}
