---

- hosts: laptops

  name: "Deploy Laptop"
  vars_files:
    - ../vars/laptop.yml
  vars:
    iterm2_users:
      - { name: "Main account", home_path: "{{ ansible_facts['user_dir'] }}", owner: "{{ ansible_facts['user_id'] }}", group: "{{ ansible_facts['user_gid'] }}" }
  roles:
    - role: laptop-setup
      tags: deploy
    - role: iterm2_integration
      tags: iterm2
  become: false
