[Unit]
Description=Dropbox daemon for Farzy
After=network.target

[Service]
Type=simple
ExecStart={{ user_home }}/.dropbox-dist/dropboxd
Restart=on-failure
User={{ user_owner }}

[Install]
WantedBy=multi-user.target
