# {{ ansible_managed }}
[includeIf "gitdir:~/src/personal/"]
  	path = .gitconfig-personal
[includeIf "gitdir:~/personal/"]
  	path = .gitconfig-personal
[includeIf "gitdir:~/go/"]
  	path = .gitconfig-personal
[includeIf "gitdir:~/src/GO/src/"]
  	path = .gitconfig-personal
[includeIf "gitdir:~/src/market-pay/"]
  	path = .gitconfig-professional
[includeIf "gitdir:~/repos/"]
  	path = .gitconfig-professional
[color]
    pager = true
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[alias]
    st = status
    ci = commit
    co = checkout
    fp = format-patch
    last = log -1 HEAD
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
    ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    oops = commit --amend -a -C HEAD
    prev = checkout HEAD^1
    next = "!sh -c 'git log --reverse --pretty=%H master | awk \"/$(git rev-parse HEAD)/{getline;print}\" | xargs git checkout'"
    b = branch -v
    r = remote -v
    t = tag -l
    unstage = reset HEAD --
    uncommit = reset --soft HEAD^
    spull = !git pull && git submodule sync --recursive && git submodule update --init --recursive
    # See https://stackoverflow.com/a/21284342/59855
    grep-all = !sh -c 'git grep "$0" "$@" "$(git for-each-ref --format=\"%(refname)\" refs/)"'
[merge]
    #stat = true
[core]
    #pager = cat
    pager = less -FRX
    excludesfile = ~/.gitignore_global
    quotepath = false
    autocrlf = input
[github]
    user = Farzy
    token = {{ github_token }}
[http]
    sslVerify = false
[gist]
    browse = no
[push]
    default = upstream
    autoSetupRemote = true
{| if is_macos |}
[credential]
#    helper = osxkeychain
	helper = /usr/local/bin/git-credential-manager
{| endif |}
[commit]
    template = ~/.stCommitMsg
[pull]
    rebase = true
[init]
    defaultBranch = master
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[credential "https://dev.azure.com"]
	useHttpPath = true
